<template>
  <!--NAVBAR-->
  <b-navbar class="navbar"
            type="dark"
            variant="dark">

    <b-navbar-nav>
      <router-link class=nav-link
                   v-if="$route.name !== 'DashboardPage'"
                   to="/"> Dashboard page
      </router-link>
      <router-link class="nav-link"
                   data-cy="create-report-button"
                   v-if="$route.name !== 'CreateReportPage'"
                   to="/create-report"> Create Report
      </router-link>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-item data-cy="logout-button"
                  @click="logout()"> Log out
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>

import { mapMutations } from 'vuex'

export default {
  name: 'Navbar',
  methods: {
    ...mapMutations({
      clearUser: 'CLEAR_USER'
    }),
    logout () {
      this.clearUser()
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>

.nav-link {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
}

</style>
