<template>
  <!--CREATE REPORT-->
  <section class="create-report">
    <h1 class="create-report-title"> Choose what type of report to create </h1>
    <div class="create-report-action-buttons">
      <b-button class="create-report-action-button"
                v-for="(item, itemIndex) in links"
                :key="itemIndex"
                size="lg"
                :data-cy="item.dataCy"
                variant="outline-primary">

        <router-link class="create-report-link"
                     :to="item.path">
          {{ item.title }}
        </router-link>
      </b-button>
    </div>
  </section>
</template>

<script>

export default {
  name: 'CreateReportPage',
  data () {
    return {
      links: [
        {
          title: 'Create Sales Report',
          type: 'sales',
          path: '/report-editor/sales',
          dataCy: 'create-sales-report-button'
        },
        {
          title: 'Create Rental Report',
          type: 'rental',
          path: '/report-editor/rental',
          dataCy: 'create-rental-report-button'
        }
      ]
    }
  }
}

</script>

<style lang="scss" scoped>

.create-report {
  height: 100vh;
  display: flex;
  margin: 10% 0 0 0;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.create-report-title {
  margin: 0 0 40px 0;
}

.create-report-action-button {
  padding: 0;
  margin: 0 20px 0 0;

  &:last-of-type {
    margin: 0;
  }

  &:hover {
    .create-report-link {
      color: white
    }
  }
}

.create-report-link {
  display: block;
  padding: 20px 60px 20px 60px;
  text-decoration: none;
}
</style>
