<template>
  <!--DASHBOARD-->
  <section class="dashboard">
    <Table :reports="reports"/>
    <Pagination :reports="reports"/>
  </section>

</template>

<script>

import { mapState, mapActions } from 'vuex'
import Table from '@/components/Table'
import Pagination from '@/components/Pagination'

export default {
  name: 'DashboardPage',
  components: {
    Pagination,
    Table
  },
  computed: {
    ...mapState({
      reports: 'reports'
    })
  },
  methods: {
    ...mapActions({
      getReports: 'getReports'
    })
  },
  created () {
    this.getReports()
  }
}

</script>

<style scoped>

.dashboard {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px 0 12px;
}

</style>
