<template>
  <!--REPORT EDITOR-->
  <section class="report-editor">
    <b-card>
      <h1 class="report-editor-title"> {{ this.type.toUpperCase() }} Report </h1>
      <b-form  class="report-editor-form" @submit="submitHandler" @reset="reset">
        <b-form-group class="report-editor-group"
                      id="input-group-1"
                      label="Name:"
                      label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="name"
            data-cy="report-name-input"
            type="text"
            placeholder="Enter name"
            required>
          </b-form-input>
        </b-form-group>

        <b-form-group class="report-editor-group"
                      data-cy="report-status-input"
                      id="input-group-2"
                      label="Status:"
                      label-for="input-2">
          <b-form-select v-model="status" :options="selectOptions">
            <template>
              <b-form-select-option :value="status" disabled>-- Please select an option --
              </b-form-select-option>
            </template>
          </b-form-select>
        </b-form-group>

        <section v-if="type === 'sales'">
          <b-form-group class="report-editor-group"
                        id="input-group-3"
                        label="Info:"
                        label-for="input-3">
            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoName"
                          data-cy="report-info-name-input"
                          type="text"
                          placeholder="Enter name"
                          required>
            </b-form-input>

            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoArea"
                          data-cy="report-info-area-input"
                          type="text"
                          placeholder="Enter area"
                          required>
            </b-form-input>
          </b-form-group>

          <b-form-group class="report-editor-group"
                        id="input-group-3"
                        label="Customize"
                        label-for="input-3">

            <b-form-textarea
              id="textarea"
              v-model="customize"
              data-cy="report-customize-input"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </section>

        <section v-if="type === 'rental'">
          <b-form-group class="report-editor-group"
                        id="input-group-3"
                        label="Info:"
                        label-for="input-3">
            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoName"
                          type="text"
                          placeholder="Enter name"
                          required>
            </b-form-input>

            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoArea"
                          type="text"
                          placeholder="Enter area"
                          required>
            </b-form-input>

            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoPhone"
                          type="number"
                          placeholder="Enter number"
                          required>
            </b-form-input>
          </b-form-group>

          <b-form-group class="report-editor-group"
                        id="input-group-3"
                        label="Search"
                        label-for="input-3">

            <b-form-input class="report-editor-input"
                          id="input-1"
                          v-model="infoSearch"
                          type="text"
                          placeholder="Enter area"
                          required>
            </b-form-input>
          </b-form-group>

          <b-form-group class="report-editor-group"
                        id="input-group-3"
                        label="Customize"
                        label-for="input-3">

            <b-form-textarea
              id="textarea"
              v-model="customize"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </section>

        <b-form-group class="report-editor-group"
                      v-for="(item, itemIndex) in sections"
                      :key="itemIndex"
                      :label="item.type"
                      id="input-group-3"
                      label-for="input-3">
        </b-form-group>

        <b-button class="report-editor-button"
                  v-if="!isLoading"
                  type="submit"
                  data-cy="create-sales-save-button"
                  variant="primary"> Save
        </b-button>

        <b-button class="report-editor-button"
                  v-if="isLoading"
                  variant="primary"
                  disabled>
          <b-spinner type="grow"
                     small>
          </b-spinner>
          Loading...
        </b-button>

        <b-button class="report-editor-button"
                  type="reset"
                  variant="outline-danger"
                  :disabled="isDisabled"> Reset
        </b-button>
      </b-form>
    </b-card>
  </section>

</template>

<script>

import { mapActions } from 'vuex'

export default {
  name: 'ReportEditor',
  data () {
    return {
      type: '',
      name: '',
      infoName: '',
      infoArea: '',
      infoPhone: null,
      infoSearch: '',
      customize: '',
      status: null,
      sections: [],
      isLoading: false,
      isDisabled: false,
      selectOptions: [
        {
          text: 'draft',
          value: 'draft'
        },
        {
          text: 'ready',
          value: 'ready'
        },
        {
          text: 'expired',
          value: 'expired'
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      pushReport: 'pushReport'
    }),
    reset (event) {
      event.preventDefault()
      this.name = ''
      this.status = null
    },
    async submitHandler (event) {
      event.preventDefault()
      this.isLoading = true
      this.isDisabled = true
      const salesReportData = {
        report: {
          type: this.type,
          name: this.name,
          status: this.status
        },
        sections: [
          {
            type: 'info',
            data: {
              name: this.infoName,
              area: this.infoArea
            },
            version: 1
          },
          {
            type: 'customize',
            data: {}
          }
        ]
      }
      const rentalReportData = {
        report: {
          type: this.type,
          name: this.name,
          status: this.status
        },
        sections: [
          {
            type: 'info',
            data: {
              name: this.infoName,
              area: this.infoArea,
              phone: this.infoPhone
            },
            version: 2
          },
          {
            type: 'search',
            data: {}
          },
          {
            type: 'customize',
            data: {}
          }
        ]
      }
      try {
        await this.pushReport(this.type === 'sales' ? salesReportData : rentalReportData)
        await this.$router.push('/')
      } catch (error) {
        throw new Error(error)
      }
    }
  },
  created () {
    this.type = this.$route.params.type
    this.name = this.$route.params.name
    this.status = this.$route.params.status
  }
}
</script>

<style scoped>

.report-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px;
}

.report-editor-group {
  margin: 20px 0 20px 0;
}

.report-editor-title {
  font-size: 60px;
  margin: 0 0 40px 0;
}

.report-editor-button {
  margin: 20px 20px 20px 0;
}

.report-editor-input {
  margin: 20px 0 20px 0;
}

</style>
