<template>
  <!--PAGINATION-->
  <b-pagination class="pagination"
                v-model="currentPage"
                :total-rows="rows"
                per-page="5"
                aria-controls="reports">
  </b-pagination>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Pagination',
  props: ['reports'],
  data () {
    return {
      currentPage: 1
    }
  },
  methods: {
    ...mapMutations({
      setPage: 'SET_PAGE'
    })
  },
  computed: {
    rows () {
      return this.reports.reports.length
    }
  },
  watch: {
    currentPage (val) {
      this.setPage(val)
    }
  }
}
</script>

<style scoped>

.pagination {
  margin: 50px auto;
}

</style>
