<template>
  <!--TABLE-->
  <div class="table-container">
    <h1 class="table-title"> List of reports
    </h1>
    <b-table class="table"
             :items="items"
             :fields="fields"
             :current-page="getCurrentPage"
             per-page="5"
             hover
             striped>

      <template v-slot:cell(name)="data">
        <a class="table-link" @click="passData(data.item.name, data.item.type, data.item.status)">
          {{ data.item.name }}
        </a>
      </template>
    </b-table>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'Table',
  props: ['reports'],
  data () {
    return {
      perPage: 5,
      sections: [],
      tableVariant: '',
      borderless: true,
      fields: ['name', 'status', 'type']
    }
  },
  computed: {
    ...mapGetters({
      getCurrentPage: 'getCurrentPage'
    }),
    items () {
      return this.reports.reports.map(({ report }) => report).reverse()
    }
  },
  methods: {
    passData (name, type, status) {
      this.$router.replace({
        name: 'ReportEditor',
        params: {
          name: name,
          type: type,
          status: status
        }
      })
    }
  }
}

</script>

<style scoped>

.table-container {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
}

.table-title {
  margin: 100px 0 40px 0;
}

.table-link {

  text-decoration: none;
  cursor: pointer;
}

</style>
