<template>
  <main id="app">
    <component :is="layout"></component>
  </main>
</template>

<script>

import Authorized from '@/layouts/Authorized'
import Authentication from '@/layouts/Authentication'

export default {
  components: {
    Authorized,
    Authentication
  },
  computed: {
    layout () {
      return this.$route.meta.layout
    }
  }
}
</script>
