<template>
  <!--AUTHORIZED LAYOUT-->
  <main>
    <Navbar/>
    <router-view/>
  </main>
</template>

<script>
import Navbar from '@/components/navigation/Navbar'

export default {
  name: 'Authorized',
  components: { Navbar }
}
</script>
