<template>
  <!--LOGIN-->
  <section class="login">
    <b-card class="login-form-container">
      <h1 class="login-title"> Login </h1>
      <b-form @submit="submitHandler" @reset="reset">
        <b-form-group
          id="input-group-1"
          label="Username:"
          label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.username"
            type="email"
            data-cy="email-input"
            placeholder="Enter email"
            required>
          </b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
          <b-form-input
            id="input-2"
            data-cy="password-input"
            v-model="form.password"
            placeholder="Enter password"
            required>
          </b-form-input>
        </b-form-group>

        <b-button class="login-action-button"
                  v-if="!isLoading"
                  type="submit"
                  data-cy="submit-button"
                  variant="primary"> Submit
        </b-button>

        <b-button class="login-action-button"
                  v-if="isLoading"
                  variant="primary"
                  disabled>
          <b-spinner type="grow"
                     small>
          </b-spinner>
          Loading...
        </b-button>

        <b-button class="login-action-button"
                  type="reset"
                  variant="outline-danger"
                  :disabled="isDisabled"> Reset
        </b-button>
      </b-form>
    </b-card>
  </section>

</template>

<script>

import { mapActions } from 'vuex'

export default {
  name: 'LoginPage',
  data () {
    return {
      isLoading: false,
      isDisabled: false,
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions({
      login: 'login'
    }),
    reset (event) {
      event.preventDefault()
      this.form.username = ''
      this.form.password = ''
    },
    async submitHandler (event) {
      event.preventDefault()
      this.isLoading = true
      this.isDisabled = true
      const signInData = {
        username: this.username,
        password: this.password
      }
      try {
        await this.login(signInData)
        await this.$router.push('/')
      } catch (error) {
        throw new Error(error)
      }
    }
  }
}
</script>

<style scoped>

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 60px;
  margin: 0 0 40px 0;
}

.login-form-container {
  width: 100%;
  max-width: 600px;
}

.login-action-button {
  margin: 20px 20px 20px 0;
}

</style>
